bcrypt
python-dotenv
PyYAML
SQLAlchemy
fastapi
pydantic
uvicorn
psycopg2-binary
requests
pydantic-settings
rich
asgi-correlation-id
python-json-logger
logtail-python
databases[asyncpg]
databases[aiosqlite]
httpx
