bcrypt
python-dotenv
PyYAML
sqlalchemy
fastapi
pydantic
uvicorn[standard]
psycopg2-binary
requests
pydantic-settings
rich
asgi-correlation-id
python-json-logger
python-multipart
logtail-python
databases[asyncpg]
databases[aiosqlite]
httpx
